.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  margin: 50px 311px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 20px;
    margin-right: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 567px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 50px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.1;
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 50px 210px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.1;
  margin: 30px 210px 0 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.1;
  margin: 47px 210px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}