 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 180px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  font-weight: 700;
  margin: 30px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-gallery-1 {
  height: 761px;
  margin-top: 0;
  margin-bottom: 19px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-gallery-1 {
    height: 476px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-gallery-1 {
    height: 360px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-2 .u-gallery-1 {
    height: 227px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 3px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url('images/Fon.jpg?rand=99e7');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 99px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 570px 0 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 69px;
  margin: -45px 0 7px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 370px;
  }

  .u-section-3 .u-custom-html-1 {
    margin: -38px 100px 0 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 31px;
    margin-right: 150px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 9px;
    margin-left: 79px;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 438px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 20px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 640px;
  margin: 9px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-4 .u-video-1 {
    height: 191px;
    width: 340px;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 418px;
}

.u-section-5 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 0 auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 640px;
  margin: 9px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-5 .u-text-1 {
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-5 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-top: 2px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-5 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url('images/Fon.jpg?rand=99e7');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 92px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 570px 0 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 69px;
  margin: -42px 0 0 570px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 370px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-top: -38px;
    margin-right: 100px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 31px;
    margin-right: 150px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 106px;
  }
} .u-section-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-7 .u-sheet-1 {
  min-height: 638px;
}

.u-section-7 .u-gallery-1 {
  height: 582px;
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  --gap: 30px;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-7 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-back-slide-2 {
  filter: none;
  background-image: none;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-7 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-7 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: 0;
    height: 480px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1515px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: 15px;
    height: 1471px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 4441px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: 0;
    height: 4413px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2822px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: 14px;
    height: 2779px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 821px;
}

.u-section-8 .u-gallery-1 {
  height: 582px;
  width: 263px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  --gap: 30px;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-8 .u-gallery-2 {
  height: 792px;
  width: 847px;
  margin: -582px 0 29px auto;
}

.u-section-8 .u-gallery-inner-2 {
  grid-template-columns: repeat(2, auto);
  --gap: 30px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-8 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-8 .u-back-slide-3 {
  filter: none;
  background-image: none;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-8 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-8 .u-gallery-1 {
    height: 522px;
    width: 229px;
    margin-top: 15px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-gap: 10px;
  }

  .u-section-8 .u-gallery-2 {
    height: 665px;
    width: 696px;
    margin-top: -522px;
    margin-bottom: 19px;
  }

  .u-section-8 .u-gallery-inner-2 {
    --gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-8 .u-gallery-1 {
    height: 691px;
    width: 360px;
    margin-top: 0;
  }

  .u-section-8 .u-gallery-2 {
    height: 1084px;
    width: 349px;
    margin-top: -691px;
  }

  .u-section-8 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2379px;
  }

  .u-section-8 .u-gallery-1 {
    height: 922px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-gallery-2 {
    height: 1423px;
    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1737px;
  }

  .u-section-8 .u-gallery-1 {
    height: 653px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-2 {
    height: 1056px;
    margin-top: 14px;
    margin-bottom: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 214px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 214px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  margin: 60px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 214px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 29px 24px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  margin: 0 1px;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-image: none;
  margin: 27px auto 0 1px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-line-1 {
    height: 3px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    position: relative;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}