 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 1), rgba(229, 229, 229, 1));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-video-1 {
  filter: none;
  height: 640px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 419px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 353px 0 170px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.6;
  width: 800px;
  margin: 15px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 253px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-2 {
    text-transform: none;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 103px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}