 .u-section-1 {
  filter: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/GifPromo.gif');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 603px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 16px 443px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  width: 173px;
  min-width: 108px;
  margin: 15px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
  padding: 3px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
  padding: 3px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
  background-image: none;
  padding: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 605px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 604px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }
}