.u-section-1 .u-sheet-1 {
  min-height: 433px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 413px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 43px 2px 0;
}

.u-section-1 .u-video-1 {
  min-height: 413px;
  filter: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-video-1 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-2 .u-gallery-1 {
  height: 582px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 30px;
}

.u-section-2 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-back-slide-3 {
  filter: none;
  background-image: none;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-2 .u-gallery-1 {
    height: 480px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1103px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2481px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 0;
    height: 2482px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1572px;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 9px;
    height: 1563px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 622px;
}

.u-section-3 .u-gallery-1 {
  height: 582px;
  width: 693px;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 30px;
}

.u-section-3 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-back-slide-1 {
  filter: none;
  background-image: none;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-3 .u-gallery-2 {
  height: 582px;
  width: 437px;
  margin: -582px auto 20px 0;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(1, auto);
  --gap: 30px;
}

.u-section-3 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-back-slide-3 {
  filter: none;
  background-image: none;
}

.u-section-3 .u-back-image-3 {
  object-position: 55.97% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 10px;
  }

  .u-section-3 .u-gallery-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-3 .u-gallery-1 {
    height: 581px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-2 {
    margin-top: 21px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1745px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 15px;
    height: 1642px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-gallery-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 0;
    height: 1051px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-2 {
    height: 453px;
    margin-top: 15px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 631px;
}

.u-section-4 .u-gallery-1 {
  height: 582px;
  width: 846px;
  margin: 0 auto 49px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  --gap: 30px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-4 .u-gallery-1 {
    height: 495px;
    width: 720px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-4 .u-gallery-1 {
    height: 371px;
    width: 540px;
    margin-top: 0;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-4 .u-gallery-1 {
    height: 234px;
    width: 340px;
    margin: 15px 0 59px;
  }
}