.u-section-1 .u-sheet-1 {
  min-height: 152px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0 61px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 20px 62px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-bottom: 19px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

.u-section-2 .u-gallery-1 {
  height: 670px;
  width: 466px;
  margin: 20px auto 0 64px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  --gap: 30px;
}

.u-section-2 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  margin: -389px 97px 20px 594px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-2 .u-text-1 {
    margin: 40px 210px 9px 61px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-2 .u-text-1 {
    margin: 20px 91px 20px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-2 .u-gallery-1 {
    height: 489px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 61px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 40px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1230px;
  }
}