.u-section-1 .u-sheet-1 {
  min-height: 1835px;
}

.u-section-1 .u-gallery-1 {
  height: 1646px;
  margin-top: 130px;
  margin-bottom: 59px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 30px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-1 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-slide-2 {
  filter: none;
  background-image: none;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-1 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-1 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-1 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-1 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1357px;
    margin-top: 110px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2495px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2339px;
    margin-top: 107px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7176px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 110px;
    height: 7017px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4631px;
  }

  .u-section-1 .u-gallery-1 {
    height: 4418px;
    margin-top: 111px;
  }
}